<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DocX" version="1.6.0" targetFramework="net452" />
  <package id="Pdfbox" version="1.1.1" targetFramework="net452" />
  <package id="sautinsoft.exceltopdf" version="5.2.3.17" targetFramework="net452" />
  <package id="sautinsoft.pdffocus" version="7.5.3.27" targetFramework="net452" />
</packages>